.header-avatar__container {
  position: relative;
}
.header-avatar {
  cursor: pointer;
}

.header-more {
  bottom: -100px;
  position: absolute;
  background-color: white;
  width: 150px;
  height: 100px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 6px;
  border-left: solid 1px $back-color;
  border-right: solid 1px $back-color;
  border-bottom: solid 1px $back-color;
  transform-origin: top;
  animation: header-more-appear 200ms forwards;
  @media (max-width: 576px) {
    width: 120px;
  }
  & ul {
    width: 100%;
    height: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: space-around;
  }
  & a {
    text-decoration: none;
    color: black;
    &:hover {
      color: $red-link;
    }
  }
}

@keyframes header-more-appear {
  0% {
    transform: translate(-50%) scaleY(0);
  }
  100% {
    transform: translate(-50%) scaleY(1);
  }
}
