.other-profil__container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.other-profil__avatar {
   
    border: solid 5px white;
    border-radius: 50%;
}