.other-profil__container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.other-profil__avatar {
  border-radius: 50%;
  object-fit: cover;
  border: solid 5px white;
  box-sizing: content-box;
  height: 200px;
  & img {
    height: 200px;
    width: 200px;
    top: 0;
    left: 0;
    border-radius: 50%;
    object-fit: cover;
  }
  & div {
    height: 200px;
    width: 200px;
  }
}
