$back-color: #f0f2f5;
$blue-link: #58a6ff;

@import "./layouts/header.scss";
@import "./layouts/auth.scss";
@import "./layouts/navigation.scss";
@import "./layouts/post.scss";
@import "./components/header-more.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import "./utils/like-anim.scss";
@import "./components/profil-avatar.scss";
@import "./layouts/profil.scss";
@import "./components/edit-post.scss";


* {
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: $back-color;
  width:100%;
  margin:0;
}

.bluelink {
  color: $blue-link;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
