.like-anim {
    transform:  translateX(0px) scale(1);
    animation: like 500ms both;
}

@keyframes like {
    0% {
        transform: rotate(0deg) translateX(-12px) scale(1);
    }
    50% {
        transform-origin: right;
        transform: translatex(0px) scaleX(0.8);
    }
    55% {
        transform-origin: right;
        transform:  scaleX(0.8) ;
    }
    70% {
        transform: scaleX(1.1);
    }
    100% {
        transform: translatex(0px)  scaleX(1) rotate(0deg);
    }
}