.auth {
  margin: auto;
  margin-top: 150px;
  width: 400px;
  background-color: white;
  border-radius: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @media (max-width: 768px) {
    width: 95%;
    
  }
  & #auth-logo {
    width: 80%;
    margin-bottom: 20px;
  }
  & form {
    display: flex;
    flex-direction: column;
    height: 250px;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    & input {
      width: 100%;
      height: 40px;
      font-size: 1.1em;
      border-radius: 6px;
      border: 2px darken($back-color, 10%) solid;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  & p {
    text-align: center;
  }
}

#login-submit {
  width: 100%;
  height: 40px;
  font-size: 1.1em;
  border-radius: 6px;
  border: 2px darken($back-color, 10%) solid;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  margin-bottom: 5px;
}

#login__submit,
#signup__submit {
  border: none;
  background-color: $red-link;
  color: white;
  &:hover {
    background-color: darken($red-link, 5%);
  }
}

.invalid-feedback {
  color: red;
  font-size: 0.8em;
}

.valid-feedback {
  color: green;
  font-size: 1em;
}

.more__auth {
  display: flex;
  flex-direction: column;
  border-top: $back-color solid 5px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#signup__form {
  height: 350px;
}

#signup__file {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.logo-globe {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translate(-50%);
  transform-origin: 50% 50%;
  & img {
    height: 60px;
    width: 60px;
    animation: rotation 10s linear infinite, apparition 1s;
  }
}


@keyframes apparition {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
