header {
  padding: 20px;
  height: 120px;
  background-color: white;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 768px) {
    padding:10px;
  }
  & img {
    height: 80px;
    @media (max-width: 768px) {
      height: 50px;
    }
  }
}

.header-user {
  margin-right: 50px;
  @media (max-width: 576px) {
   margin-right:30px;
  }
  & ul {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    justify-content: space-between;
    
  }
  & li {
    list-style: none;
  }
}

.header-avatar__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  &:active img {
    filter: opacity(80%);
  }
  &::before {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    position: absolute;
    top: 61px;
    transition: 250ms;
  }
  & img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    -webkit-user-drag: none;
  }
  &:hover {
    &::before {
      animation: arrow-hover 500ms alternate infinite;
    }
  }
}

@keyframes arrow-hover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(2px);
  }
}
