.navigation {
    display: flex;
    width: 220px;
    justify-content: space-between;
    & a {
        color:white;
        padding:10px;
        border-radius: 6px;
        text-decoration: none;
        background-color: $blue-link;
        &:hover {
            background-color: darken($blue-link, 10%);
        }
    }
    & .nav-active {
        background-color: lighten($blue-link, 20%);
        &:hover {
            background-color: lighten($blue-link, 10%);
        }
        }
}


    
