.create-post__container {
  margin: auto;
  background-color: white;
  width: 60%;
}

.create-post {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: grey;
  height: 175px;
}

.create-post__text {
  width: 400px;
  height: 100px;
  border-radius: 6px;
  border: rgba(0, 0, 0, 0.3) 1px solid;
  padding: 5px;
  resize: none;
  font-size: 1.1em;
}
