.profil-info {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.profil-edit {
    width: 100%;
    display: flex;
    justify-content: space-around;
}